<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.jhu.cs.bsj.plugin.eclipse.editor.BSJEditor"
            default="true"
            extensions="bsj"
            id="edu.jhu.bsj.plugin.eclipse.bsjeditor"
            name="BSJ Editor">
      </editor>
   </extension>

</plugin>
