<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BSJ Editor"
            extensions="bsj"
            icon="icons/bsj_src.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.jhu.cs.bsj.plugin.editor.BsjEditor"
            id="edu.jhu.cs.bsj.plugin.editor.BsjEditor">
      </editor>
   </extension>

</plugin>
